.intro-header [class$="-heading-home"] {
  text-align: center;
}
.intro-header [class$="-heading-home"] h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 40px;
  font-style: italic;
}
body[data-dark-theme="true"] .nav-logo img {
    filter: invert(1);
    -webkit-filter: invert(1);
}
.nav-links a:link {
  color: #000;
}
.nav-links a:visited {
  color: #000;
}
.nav-links a:hover {
  color: #000;
}
.nav-links a:active {
  color: #000;
}
body[data-dark-theme="true"] nav * {
  color: #e8e8e8 !important;
}
.post-preview a:link {
  color: #000;
}
.post-preview a:visited {
  color: #000;
}
.post-preview a:hover {
  color: #000;
}
.post-preview a:active {
  color: #000;
}
footer a:link {
  color: #000;
}
footer a:visited {
  color: #000;
}
footer a:hover {
  color: #000;
}
footer a:active {
  color: #000;
}
/* unvisited link */
a:link {
  color: blue;
}
/* visited link */
a:visited {
  color: blue;
}
/* mouse over link */
a:hover {
  color: purple;
}
/* selected link */
a:active {
  color: purple;
}