{{ define "main" }}
  <div class="container" role="main">
    <article class="article" class="blog-post">
      {{ partial "toc.html" . }}

      {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
            <a
              href="{{ "" | absLangURL }}tags/{{ . | urlize }}{{ if $.Site.Params.uglyurls }}.html{{ else }}/{{ end }}"
              >{{ . }}</a
            >&nbsp;
          {{ end }}
        </div>
      {{ end }}

      {{ if .Site.Params.enableBottomNavigation }}
        {{ partial "bottomnav.html" . }}
      {{ end }}
    </article>
    {{ if and (gt .WordCount 400) (.Param "backtotop") }}
      <button onclick="topFunction()" id="backtotopButton">
        <em class="fa fa-angle-up"></em>
      </button>
      {{ partial "backtotop.html" . }}
    {{ end }}
<script>
  var remark_config = {
    host: 'https://banter.aussienomics.com',
    site_id: 'banter',
  }
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
  <div id="remark42"></div>
  </div>
{{ end }}
