{{ define "main" }}
  <div class="container" role="main">
    <article class="article" class="blog-post">
      {{ partial "toc.html" . }}

      {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
            <a
              href="{{ "" | absLangURL }}tags/{{ . | urlize }}{{ if $.Site.Params.uglyurls }}.html{{ else }}/{{ end }}"
              >{{ . }}</a
            >&nbsp;
          {{ end }}
        </div>
      {{ end }}

      {{ if .Site.Params.enableBottomNavigation }}
        {{ partial "bottomnav.html" . }}
      {{ end }}
    </article>
    {{ if and (gt .WordCount 400) (.Param "backtotop") }}
      <button onclick="topFunction()" id="backtotopButton">
        <em class="fa fa-angle-up"></em>
      </button>
      {{ partial "backtotop.html" . }}
    {{ end }}
<script src="https://giscus.app/client.js"
        data-repo="Justinomics/Aussienomics-comments"
        data-repo-id="R_kgDOIlwg7Q"
        data-category="Announcements"
        data-category-id="DIC_kwDOIlwg7c4CTA0w"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
  </div>
{{ end }}
