<hr>
<div class="subscribe-form promo-box">
<p style="font-style: italic;">Thanks for reading Aussienomics!<br/> Subscribe for free to never miss a post:</p>
<form method="post" action="https://list.aussienomics.com/subscription/form" class="listmonk-form">
<input type="hidden" name="nonce" />
<input type="email" name="email" required placeholder="your@name.com" />
<input checked="true" id="f89c3" type="checkbox" name="l" checked value="f89c33e4-0b72-4f6b-ab3b-22b743f3a53a" checked style="visibility: hidden; margin:0; padding:0;" />
<label for="f89c3" style="visibility: hidden; margin:0; padding:0;" /></label>
<input type="submit" value="Subscribe" />
</form>
</div>
<hr>