<hr>
<p style="font-style: italic;">Thanks for reading Aussienomics! Subscribe for free to never miss a post:</p>

<form
  action="{{ .Get "action" }}"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/aussienomics', 'popupwindow')"
  class="embeddable-buttondown-form"
>

  <input placeholder="your@name.com" style="width: 70%;padding: 1rem 2rem;margin: 8px 0;box-sizing: border-box;" type="email" name="email" id="bd-email" />
  <input style="background-color: #e7e7e7; color: black;border: none;padding: 1rem 2rem;text-align: center;text-decoration: none;display: inline-block;" type="submit" value="Subscribe" />
</form>